:root{
    --primary-color: #00758f;    /* Cerulean */
    --secondary-color:  #3D3D3D; /* Vivid Sky Blue */
    --accent1-color: #92C99D;    /* Davy's Grey */
    --accent2-color: #D6D6D6;     /* Emerald */
    --heading-font: "Vina Sans", sans-serif;
    --body-font: "Tinos", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
  background-color: var(--accent1-color);
  border: 3px solid var(--secondary-color);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
}

.logo_img{
  border: 2px solid var(--secondary-color);
}

.navigation{
  display: flex;
  justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0;
  list-style: none;
}

.navigation a{
  font-family: var(--body-font);
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  }

body{
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

.history{
  border: 2px solid var(--secondary-color);

}

h2{
  display: grid;
  justify-content: center;
  align-items: center;
}

.history-paragraph{
  display: grid;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: xx-large;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    
}

.socialmedia img{
  width: 30px;
  height: auto;

}

.hero {
  position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 1.0;
  background-color: var(--secondary-color);
  color: var(--accent2-color); 
}

article {
  position: absolute;
  top: 130px;
  left: 100px;
  width: 70%;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--secondary-color);
  color: var(--accent2-color); 
}

.hero article img {
  float: right;
  width: 150px;
}

.adv{
  border: 2px solid var(--secondary-color);
}

.adventure figure{
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color:var(--accent2-color);
  display: flex;
  flex-flow: column;
}

.adventure img{
  width:130px;
  height: 100px;
}

.adventure{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;

}

footer{
  display: flex;
  justify-content:right;
  align-items: center;
  gap: 90px;
  background-color: var(--accent1-color);
  border: 2px solid var(--secondary-color);
 
}
